body {
  width:100%;
  height:100%;
  font-family:sans-serif;
  background-color:#27223E ;
  color: white;
}

header {
  background-color: #787471 ;
  width: 100%;
  height: 120px;
}

.main-wrapper {
}
.main-wrapper h1{
  color:white;
  margin-left:50%;
}
.workers-info {
  margin-left: 40px;
  display:none;
  float:left;
}

.content {
  background-color:skyblue;
  padding-top:2px;
  padding-bottom:2px;
  padding-left:6px;
  margin-top:3px;
  margin-bottom:3px;
  width: 420px;
}
#register {
  margin-right:237px;
}

.show-worker {
  display:none;
  height:300px;
  width:400px;

  margin-left: 40px;
  margin-top: 370px;
  overflow:auto;
  color:black;
  float:left;
}

#person-list{
  background-color: white;
}
a {
  margin-top: 8px;
  padding-bottom:8px;
  background-color:yellow;
}

footer {
  position:absolute;
  margin-top:1200px;

  width:100%;
  background-color:lightgreen;
  display:block;
}
#add-worker {
  display:none;
  margin-left: 66%;
}
#hidden-inputs {
  display:none;
}

table {
  border-collapse: collapse;
}

td {
  border: solid 1px;
  padding:0.5em;
}
th {
  padding:0.2em;
}
.calendar {
  margin-top:40px;
  width:400px;
}
.top-buttons {
float:left;
font-size: 24px;
margin-top:24px;
}

#trigger {
  margin-right:40px;
  display:block;
  float:left;
   width: 250px;
   height:70px;
   line-height: 70px;
   color: #FFF;
   text-decoration: none;
   text-align: center;
   background-color: #f39800; /*ボタン色*/
   border-bottom: solid 6px #ec6c00; /*下線色*/
   border-radius: 5px; /*角丸*/}
#trigger:hover{
        background-color: #f9c500; /*ボタン色*/
        border-bottom: solid 6px #f39800; /*下線色*/
}
#trigger:active{
  margin-top: 6px;
  border-bottom: none;
  -webkit-transform: translateY(6px);　/*下移動*/
  transform: translateY(6px);
}


 #readme {
   display:block;
   float:left;
        width: 250px;
        height:70px;
        line-height: 70px;
        color: #FFF;
        text-decoration: none;
        text-align: center;
        background-color: #f39800; /*ボタン色*/
        border-bottom: solid 6px #ec6c00; /*下線色*/
        border-radius: 5px; /*角丸*/
 }
#readme:hover{
  background-color: #f9c500;/*ボタン色*/
  border-bottom: solid 6px #f39800; /*下線色*/
}
#readme:active{
  margin-top: 6px;
  border-bottom: none;
  -webkit-transform: translateY(6px);　/*下移動*/
  transform: translateY(6px);
}
