body {
  width:100%;
  height:100%;
  font-family:sans-serif;
  background-color:rgba(80,60,80,0.6);
}

header {
  background-color: skyblue;
}

.main-wrapper {
}
.main-wrapper h1{
  color:white;
  text-align: center;
}
.workers-info {
  margin-left: 40px;
  display:none;
}

.content {
  background-color:yellow;
  padding-top:2px;
  padding-bottom:2px;
  padding-left:6px;
  margin-top:3px;
  margin-bottom:3px;
  width: 420px;
}
#register {
  margin-right:237px;
}

.show-worker {
  display:block;
  display:none;
  height:300px;
  width:400px;
  background-color:white;
  margin-left: 40px;
  overflow:auto;
}
a {
  margin-top: 8px;
  padding-bottom:8px;
  background-color:yellow;
}

footer {
  position:absolute;
  margin-top:1200px;

  width:100%;
  background-color:lightgreen;
  display:block;
}
#add-worker {
  display:none;
  margin-left: 40px;
}
#hidden-inputs {
  display:none;
}

.calendar {
  width: 220px;
  height: 220px;
  margin-left: 40px;
  background-color: brown;
  padding-left:45px;
  padding-top:30px;
}
